/* formatação por William Kalel v0.4.1 */

.content-text a {
    color: gray;
    text-decoration: none;
}

.content-text a:hover {
    color: darkgray;
}

.comment-area {
    width: 70%;
    height: 175px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 5px;
    display: flex;
    align-content: center;
}

.area {
    float: left;
    align-self: center;
}

.area.info {
    width: 30%;
}

.area.comment {
    width: 70%;
}

.info p {
    font-weight: bold;
}

.comment p {
    text-align: justify;
}

@media screen and (max-width:800px) {
    .comment-area {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
        width: 90%;
    }
}