/* formatação por William Kalel v0.0.9 */

.content-text a {
    color: gray;
    text-decoration: none;
}

.content-text a::before {
    content: ">";
}

.content-text a::after {
    content: "<";
}

.content-text a:hover {
    color: darkgray;
}

.comment-area {
    width: 70%;
    height: 175px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 5px;
    display: flex;
    align-content: center;
}

.area {
    float: left;
    align-self: center;
}

.area.info {
    width: 30%;
}

.area.comment {
    width: 70%;
}

.info p {
    font-weight: bold;
}

.comment p {
    text-align: justify;
}